@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
body {
  font-family: 'Rubik', sans-serif;
  width: 100%;
  max-width: 100vw !important;
  margin: 0px;
  padding: 0px;
  overflow: clip !important;
}
.App {
  text-align: center;
  margin-top: 4em;
  max-width: 100%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

#optionselector {
  display: flex;
  flex-direction: column;
  background-color: rgb(240,100,100);
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  margin: 30px 0px;
}

#getmoviesbutton {
  height: 40px;
  width: 180px;
  color: white;
  font-size: 1em;
  border-radius: 5px;
  background-color: rgb(240,100,100);
  margin: 0 auto 1em auto;
}

#getmoviesbutton:hover {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

#githublink {
  margin: 10px 20px 0px 20px;
  padding-bottom: 10px;
  cursor: default;
  left: 50%;
  margin-bottom: 5px;
  position: static;
  transform: translate(-50%, -50%);
}

#githublink a {
  cursor: pointer;
  color: rgb(187, 30, 30);
}

@media only screen and (max-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-items: center;
    max-width: 100vw;
    margin: 0;
    margin-right: 0;
    padding: 0;
    overflow-x: clip;
  }

  .App {
    /* overflow: hidden; */
    margin-top: 0.5em;
  }
    /* #optionselector {
      overflow: hidden;
      width: 100vw;
      padding: 10px;
    } */
}